# This file will automatically be replaced for a `.env` 
# after initializing template into your workspace.

# Base.
NODE_ENV=development
SESSION_SECRET="SESSION_SECRET"
ENCRYPTION_SECRET="ENCRYPTION_SECRET"

# [Optional] Email Provider.
EMAIL_PROVIDER_API_KEY=

# Environment variables declared in this file are automatically made available to Prisma.
# More details: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"